@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
body{
    margin: 0;
    background-color: #f7f7f7;
    
  }
 .nav{
    background:  #ebeaf0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    font-family: "Poppins", sans-serif;
} 
/* .nav{
  margin-left: 5.5rem;
  padding: 0 1rem;
  font-weight: 600;
  font-size: 1rem;
  color: var(--nav-color);
  transition: 0.3s;
} */
.item{
    color:#efd3a2;
    padding: 15px;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 40px;
    color:#0d5e9d;
    font-weight: bold;
    margin-top: 10px;
    flex-wrap: wrap;
    transition: 0.3s;
}
.dropdown{
  position: relative;
  display: inline-block;
}
.dropbtn{
  background-color: #ebeaf0;
  color: #0d5e9d;
  padding: 15px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #e4e3e9;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a{
  color: #0d5e9d;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #b9b3be}
.dropbtn a, i{
  color: #0d5e9d;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: none;
}
.name {
  margin-right: auto;
  font-family: "Poppins", sans-serif;
  padding-left: 30px;
  font-weight: 600;
  font-size: 1.8em;
  color:#0d5e9d;
  text-decoration: none;
}
.name span{
  font-weight: 300;
}
.header span{
  font-weight: 300;
}
.header{
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    color:#0d5e9d;
    margin-top: 70px;
    /* transition: max-height .5s ease-out; */

  }
.logo{
    float: left;
}

video {
    object-fit: cover;
    width: 100%;
    height: 75%;
    position: absolute;
    top: 220px;
    left: 0;
    z-index: -1;
  }
h3,h2{
  color:#0d5e9d;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}
.section-header{
  display: flex;
  justify-content: center;
}
/* .heading{
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
} */
.section-about{
  display: flex;
  justify-content: space-around;
  padding: 60px;
  background-color: #ebeaf0;

}
.about-us{
  display: flex;
  align-self: center;
  padding: 12px;
  font-family: "Poppins", sans-serif;
  color:#0d5e9d;
    text-transform: none;

}

.wrapper{
  display: flex;
  background-color: #ebeaf0;
  padding: 80px;
  color:#0d5e9d ;
}
.why-us{
  padding: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  display: flex;

}

.services{
  display: flex;
  justify-content: space-around;
  background-color: #ebeaf0;
  padding: 60px;
  text-transform: uppercase;
  
}

.services-rev{
  display: flex;
  justify-content: space-around;
  background-color: #ebeaf0;
  padding: 60px;
  text-transform: uppercase;
}

.price{
  display: flex;
  justify-content: center;
  background-color: #ebeaf0;
  color:#0d5e9d ;
  font-size: 18px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}
.map{
  display: flex;
  justify-content: center;
  background-color: #ebeaf0;
  padding: 50px;
}

.call-btn{
  padding: 30px;
  margin: 10px;
  border-radius: 30px;
  background-color: #0d5e9d;
  font-family: "Poppins", sans-serif;

}
.btn{
  font-family: "Poppins", sans-serif;
  color: #ebeaf0;
  text-decoration: none;
  font-size: 18px;
}

.footer-container{

  background-color: #ebeaf0;
  padding: 5px;
}
.footer{
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color:#0d5e9d ;
  font-size: 16px;
}
/*Hamburger menu*/
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #ebeaf0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color:#0d5e9d;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #0d5e9d;
  background-color: #b9b3be;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  display: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #ebeaf0;
  color: #0d5e9d;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #b9b3be;
} 

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* Mobile Adaptation */
@media (max-width: 920px ){
  .item{
    display: none;
  }
  name{
    font-size: 18px;
  }
  .openbtn {
    display: block;
    font-size: 20px;
    cursor: pointer;
    background-color: #ebeaf0;
  color: #0d5e9d;
    padding: 10px 15px;
    border: none;
  }
  .openbtn:hover {
    background-color: #b9b3be;
  }
  .dropbtn{
    display: none;
  }
}
@media all and (max-width: 820px){
  .wrapper{
        flex-wrap: wrap;
    }
    .section-about{
      flex-wrap: wrap;
    } 
    .dropbtn{
      display: none;
    }
    /* img{
      width: 100px;
    }
    div.gmap_canvas, div.maproute, iframe{
      width: 100%;
    } */
  }
@media all and (max-width: 800px){
  .nav{
    position:relative;
    flex-direction: column;
  }
  .item{
    font-size: 15px;
  }
  .header{
    font-size: 18px;
  }
  .section-about{
    flex-wrap: wrap;
  } 
  
    .wrapper{
    padding: 0;
    }
    
    div.gmap_canvas, div.maproute, iframe{
      width: 100%;
    } 
  }
  @media all and (max-width: 500px){
    .nav{
      position:relative;
      flex-direction: column;
    }
    .header{
      font-size: 15px;
    }
    .about-us{
      flex-wrap: wrap;
    }
    .section-about{
      flex-wrap: wrap;
    } 
    .services{
      flex-wrap: wrap;
      margin:0;
    }
    .services-rev{
      flex-wrap: wrap-reverse;
    }
    .services-img{
      width: 300px;
    }
  }
